<body>
  <div class="col-lg-12">
    <app-message></app-message>
  </div>
  <div class="col-lg-12" *ngIf="!isRetrieve">
    <div>
      <label>Email :</label>
      <input class="form-control" type="email" placeholder="abc@pqr.com" [(ngModel)]="forgetPassword.email">
    </div>

    <div class="btn-retrieve">
      <button class="btn btn-primary" (click)="retrievePassword()">Retrieve</button>
    </div>
  </div>

  <div class="col-lg-12" *ngIf="isRetrieve">
    <div>
      <label>Password :</label>
      <input class="form-control" type="password" placeholder="password" [(ngModel)]="forgetPassword.password">
    </div>

    <div>
      <label>Confirm Password :</label>
      <input class="form-control" type="password" placeholder="confirm password" [(ngModel)]="forgetPassword.cnfrmpassword">
    </div>

    <div class="btn-retrieve">
      <button class="btn btn-primary" (click)="updatePassword()">UpdatePassword</button>
    </div>
  </div>
</body>